<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <link rel="stylesheet" href="../AdminLTE-2.3.11/bootstrap/css/bootstrap.css" th:href="@{/AdminLTE-2.3.11/bootstrap/css/bootstrap.css}">
  <title>header</title>
</head>
<body>
<div th:fragment="test">insert</div>
</body>
</html>