<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="fragment/header :: header"/>
  <title>home</title>
</head>
<body>
  <div class="container">
    <div class="main-header">

    </div>
    <div class="main-left">

    </div>
    <div class="main-right">

    </div>
    <div class="main-footer">

    </div>
  </div>
  <script type="text/javascript" src="../plugins/jquery-3.2.1.js" th:href="@{/plugins/jquery-3.2.1.js}"></script>
  <script type="text/javascript" src="../AdminLTE-2.3.11/bootstrap/js/bootstrap.js" th:href="@{/AdminLTE-2.3.11/bootstrap/js/bootstrap.js}"></script>
</body>
</html>