<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/header :: test">
  <!--<meta charset="utf-8">-->
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <!--&lt;!&ndash; 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ &ndash;&gt;-->
  <!--<link rel="stylesheet" href="../AdminLTE-2.3.11/bootstrap/css/bootstrap.css" th:href="@{/AdminLTE-2.3.11/bootstrap/css/bootstrap.css}">-->

  <!--<link rel="stylesheet" href="../css/index.css" th:href="@{/css/index.css}">-->
  <!--<title>welcome</title>-->
</head>
<body>
  <div class="container">
    <div class="main-header">

    </div>
    <div class="main-left">

    </div>
    <div class="main-right">

    </div>
    <div class="main-footer">

    </div>
  </div>
  <script type="text/javascript" src="../plugins/jquery-3.2.1.js" th:href="@{/plugins/jquery-3.2.1.js}"></script>
  <script type="text/javascript" src="../AdminLTE-2.3.11/bootstrap/js/bootstrap.js" th:href="@{/AdminLTE-2.3.11/bootstrap/js/bootstrap.js}"></script>
</body>
</html>