<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="fragment/header :: header"/>
  <link rel="stylesheet" href="../css/register.css" th:href="@{/css/register.css}">
  <title>register</title>
</head>
<body>
  <div class="container">
    <form action="" th:action="@{/user/register}" method="post" class="form-horizontal form-register center-block" data-toggle="validator">
      <h2 class="text-center">Please sign up</h2>
      <div class="form-group has-feedback">
        <label for="inputUserName" class="col-sm-3 control-label">Username</label>
        <div class="col-sm-9">
          <input th:value="${userName}" name="userName" id="inputUserName" class="form-control" placeholder="Username" required data-maxlength="20">
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label for="inputEmail" class="col-sm-3 control-label">Email address</label>
        <div class="col-sm-9">
          <input th:value="${email}" name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required data-remote="checkEmail" data-remote-error="邮箱已经存在">
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label for="inputPassword" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
          <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required data-minlength="6" data-error="密码不能少于6位">
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label for="inputRePassword" class="col-sm-3 control-label">RePassword</label>
        <div class="col-sm-9">
          <input name="rePassword" type="password" id="inputRePassword" class="form-control" placeholder="RePassword" required data-match="#inputPassword" data-error="两次密码不相同">
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3"></label>
        <div class="col-sm-9">
          <button class="btn btn-primary" type="submit">Sign up</button>
          <a class="btn btn-link pull-right" th:href="@{/index}">login</a>
        </div>
      </div>
    </form>
  </div>
  <script type="text/javascript" src="../plugins/jquery-3.2.1.js" th:src="@{/plugins/jquery-3.2.1.js}"></script>
  <script type="text/javascript" src="../AdminLTE-2.3.11/bootstrap/js/bootstrap.js" th:src="@{/AdminLTE-2.3.11/bootstrap/js/bootstrap.js}"></script>
  <script type="text/javascript" src="../AdminLTE-2.3.11/bootstrap/js/validator.js" th:src="@{/AdminLTE-2.3.11/bootstrap/js/validator.js}"></script>
</body>
</html>